* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 100px 0 100px;
}

nav ul,
.main-info-section,
.projects-showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body {
  background-color: #252627;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar {
  background-color: #181818;
}

.about,
.projects {
  background-color: #fff;
}

.about,
.projects,
.skills {
  height: 100vh;
}

.main-info-section {
  background-image: url("../img/stefan-gall-IWMwoBpZ9Sw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.contact {
  height: 30vh;
  margin-top: 2%;
}

header h1,
header a,
.text p,
.about h1,
.projects h1 {
  color: #707070;
}

.skills h1,
.contact h1 {
  color: #fff;
}

li {
  list-style: none;
  margin-left: 30px;
}

.navbar a {
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.main-info-section {
  height: calc(100vh - 81.6px);
}

.text {
  margin-top: 90px;
  text-align: center;
  margin: 10% auto 20% auto;
  background: #252627;
  border-radius: 2%;
  padding: 50px 50px 0 50px;
}

.text h1 {
  color: #fff;
  font-size: 3rem;
  cursor: default;
}

.text span {
  display: inline-block;
}

span.m-left {
  margin-left: -10px;
}

.text p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 1rem;
  margin-top: 4%;
  font-weight: bold;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin-top: 5%;
}

.card {
  padding: 0 20px;
  margin: 0 10px;
  width: 33%;
  display: flex;
  height: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.card-icon {
  font-size: 28px;
  background: #ed5565;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 280% !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon {
  background: none;
  color: #ed5565;
  transform: scale(1.6);
}

.card p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.card:hover p {
  max-height: 40px;
  opacity: 1;
}

.card a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .contact-info {
    flex-direction: column;
  }
  .card {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}

.about {
  padding: 10%;
}

.about h1,
.projects h1 {
  font-size: 10rem;
  z-index: 0;
  opacity: 0.6;
}

.about-me-info {
  max-width: 900px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.about-me-info p {
  font-size: 1.3rem;
  color: #bebebe;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
  margin-top: 30px;
}

.about img {
  width: 300px;
  position: relative;
  top: -300px;
  left: calc(100% - 100px);
  right: calc(100% - 100px);
  transform: translateX(calc(-100% - 100px));
}

.skills {
  height: 100vh;
}

.skills h1,
.contact h1 {
  text-align: right;
  font-size: 10rem;
  opacity: 0.1;
}

.skills-info {
  font-size: 1.4rem;
  color: #bebebe;
  max-width: 800px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
}

.skills-showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}

.skills-showcase img {
  width: 25%;
  height: 25%;
  max-width: 150px;
}

.projects a {
  text-decoration: none;
  color: inherit;
}

.projects img {
  position: relative;
  width: 500px;
  justify-self: center;
}

.project-icons {
  display: flex;
  justify-content: space-evenly;
}

.projects-showcase {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-list {
  margin-left: 3%;
  margin-bottom: 3%;
}

.project-list h2 {
  text-align: center;
}

footer {
  padding: 2% 0 2% 0;
}

footer p {
  text-align: center;
  color: #707070;
  font-size: 1.2rem;
  padding: 3px 0;
}
